<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "VP DECA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Exec", executives_path %></li>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= link_to "Registration", registration_path %></li>
      </ul>
    </nav>
  </div>
</header>